#content{
    margin-left: 290px;
  margin-top: 50px;
    border: 3px solid rgb(231, 84, 16); 
    padding:1px;
    width: 745.7px;  
    }
.titlebox{
    float:left;
    padding:0 5px;
    margin:-20px 0 0 30px;
    background:#fff;
    color: rgb(90, 90, 167);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
form {    
    background-color:  #f2f2f2; 
padding: 10px;
align-content: center;

}
span{
    margin-left: 100px;
    align-content: center;
    display: block;
    font-size: medium;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}
form>p
{
display:inline-block;
padding: 2px;

}  
label{
    margin-left: 20px;    
    color: rgb(146, 146, 146);
    font-family: 'Courier New', Courier, monospace;
    align-content: center;
}
p input[type="text"]{    
    display: block;
     margin-left: 20px;  
   
}

.error
{    border: 1px solid #eb516d;
}

 input[type="submit"] {
    display:block;
    text-align: center;
    margin-left: 610px;
    width: 100px;
    color: rgb(231, 84, 16);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;    
    font-size:medium;
    border :1px solid rgb(231, 84, 16);
}